h2 {
    color: #132c4e;
}
p {
    padding-bottom: 1rem;
}
.register {
    width: 350px;
    height: 425x;
    background: #fff;
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    padding: 1rem;
    align-self: center;
    text-align: center;
    margin: auto;
    padding-top: 20px;
}

.register > input {
    border-radius: 8px;
    border: 2px solid #dddfe2;
    outline: none;
    color: #132c4e;
    margin: 0.5rem 0;
    width: 100%;
    font-size: 1rem;
    height: 30px;
}
.register .icon > input {
    border-radius: 8px;
    border: 2px solid #dddfe2;
    outline: none;
    color: #132c4e;
    margin: -0.1rem 0.8rem 1.4rem 0.7rem;
    width: 100%;
    font-size: 1rem;
    height: 30px;
}
.register > .button {
    background: #132c4e;
    border: 1px solid #132c4e;
    color: #fff;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}
.button:hover {
    color: #fff;
    background-color: #1b75bc;
}
.icon {
    display: flex;
    font-size: 28px;
    text-align: center;
    /* line-height: 30px;
    width: 10%; */
}
